---
- name: Get Device Facts
  hosts: router_juniper
  connection: local
  gather_facts: no
  roles:
    - Juniper.junos

  vars:
    credentials:
      host: "{{ inventory_hostname }}"
      user: "{{ ansible_user }}"
      passwd: "{{ ansible_password }}"

  vars_files:
    - /Users/jeremierouzet/jeysible/vars/juniper_nc.yaml

  tasks:
    - name: Retrieve facts from device running Junos OS
      juniper_junos_facts:
        provider: "{{ credentials }}"
        savedir: "{{ playbook_dir }}/facts_rol/"
    - name: Print version
      debug:
        var: junos.version
