---
- name: Create Report from netbox Data
  gather_facts: no
  hosts: all
  connection: local
  become: false
  vars:
    server: "https://192.168.0.251"
    endpoint: "/api/dcim/devices/"
    netbox_token: "7435d9eb9841dc8a941417a0993fc531c3dc35ca"
  tasks:
    # Make a Netbox API call to retrieve devices'components
    - name: Get Device List from Netbox
      uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ netbox_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: netbox_datas
      run_once: yes

    # Allow to Generate a Report thanks to the informations registered previously with For loop to iterate through multiples devices
    - name: Generate Report
      ansible.builtin.blockinfile:
        block:  |
            netbox_datas.json:
            {% for device_name in netbox_datas.json.results %}
              - { node: {{ device_name.name }}, runs Network OS: {{ device_name.platform.name }}, and has Ipv4: {{ device_name.primary_ip.address }}}
            {% endfor %}
        path: /Users/jeremierouzet/jeysible/netbox_dynamic_inventory/inventory_report/netbox_report_v1.yaml
        create: yes
