---
- name: Create Report from infrahub Data
  gather_facts: no
  hosts: all
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint: "/api/dcim/devices/"
    infrahub_token: "7435d9eb9841dc8a941417a0993fc531c3dc35ca"
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_datas
      run_once: yes

    - name: save the Json data to a Variable as a Fact
      set_fact:
        infrahub_datas: "{{ infrahub_datas.json.results | to_nice_json | from_json }}"

    - name: setDeviceName
      set_fact:
        device_name: "{{ infrahub_datas.json.results | json_query(jmesquery) }}"
      vars:
        jmesquery: 'device_name.name'

    - name: Generate Junos Config from Jinja2
      ansible.builtin.file:
        path: /Users/jeremierouzet/jeysible/config state=directory
        state: directory


    - name: Generate Junos Config from Jinja2 & Infrahub
      template:
        src: "/Users/jeremierouzet/jeysible/templates/router_juniper_full_cfg.j2"
        dest: "/Users/jeremierouzet/jeysible/config/{{inventory_hostname}}.cfg"
      delegate_to: localhost
