---
- name: Create Report from infrahub Data
  gather_facts: no
  hosts: infrahub
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint: "/api/dcim/devices/"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_datas
      run_once: yes

    - name: save the Json data to a Variable as a Fact
      set_fact:
        infrahub_datas: "{{ infrahub_datas.stdout | from_json }}"

    - name: setDeviceName
      set_fact:
        device_name: "{{ infrahub_datas | json_query(jmesquery) }}"
      vars:
        jmesquery: 'device_name.name'

    - name: setDomainName
      set_fact:
        domain_name: "{{ jsondata | json_query(jmesquery) }}"
      vars:
        jmesquery: 'domain.name'

    - name: Generate Junos Config from Jinja2
      hosts: localhost
      gather_facts: no
      tasks:
        - name: Create Config Directory
          file: path=/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config state=directory

    - name: Generate Junos Config from Jinja2 & Infrahub
      hosts: jeyniper07
      gather_facts: no
      tasks:
        - name: Generate Juniper Full Config
          template:
            src: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/templates/router_juniper_full_cfg.j2"
            dest: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config/{{inventory_hostname}}.cfg"
          delegate_to: localhost
