---
# First play - Recover VRF datas from Infrahub thanks to Rest Api Call
- name: Config Junos context Interface
  gather_facts: no
  hosts: infrahub
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint1: "/api/ipam/ip-addresses/?limit=5000"
    endpoint2: "/api/dcim/interfaces/?limit=30000"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
##### First task to Make a Infrahub API call to retrieve devices'components related to DCIM/Devices
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint1 }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_ipaddr
      run_once: yes

##### Second task to Make a Infrahub API call to retrieve devices'components related to DCIM/Ifaces
    - name: Get Interfaces List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint2 }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_ifaces
      run_once: yes

##### Third task to Parse recovered datas from Infrahub DCIM/Device Apps with jmesquery
    - name: Query Infrahub Dcim/Device
      ansible.builtin.debug:
        msg: "{{ infrahub_ifaces.json.results | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
        jmesquery: "[?device.name=='jeyniper01' && type.value=='1000base-t' && enabled].{ device: device.name, iface_name: name, iface_desc: description, iface_mtu: mtu }"
      register: device_ifaces

##### Fourth task to Parse recovered datas from Infrahub DCIM/Interface Apps with jmesquery
    - name: Query Infrahub Dcim/Ifaces
      ansible.builtin.debug:
        msg: "{{ infrahub_ipaddr.json.results | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
        jmesquery: "[?custom_fields.iface_device=='jeyniper01' && status.value=='active'].{if_device: custom_fields.iface_device, subif_name: custom_fields.iface_parent, subif_desc: description, subif_unit: custom_fields.iface_unit, subif_address: display, subif_role: custom_fields.iface_role}"
      register: device_ipaddr

##### Fifth task to Display debug result of jmesquery for learning purpose with recovered datas from Infrahub DCIM/device Apps.
    - name: Display list of devices from NetBox
      debug:
        msg: "Device hostname is {{ device_ifaces.msg[item].device }}, Interface's name is {{ device_ifaces.msg[item].iface_name }}, description is {{ device_ifaces.msg[item].iface_desc }} and Interface mtu is {{ device_ifaces.msg[item].iface_mtu }}"
      loop: "{{ device_ifaces.msg }}"
      loop_control:
        index_var: item

##### Sixth task to Display debug result of jmesquery for learning purpose with recovered datas from Infrahub DCIM/Iface Apps.
    - name: Display list of Interfaces from NetBox
      debug:
        msg: "Device hostname is {{ device_ipaddr.msg[item1].if_device }}, Sub Interface's name is {{ device_ipaddr.msg[item1].subif_name }}, description is {{ device_ipaddr.msg[item1].subif_desc }} and Interface unit is {{ device_ipaddr.msg[item1].subif_unit }} with associated IP address {{ device_ipaddr.msg[item1].subif_address }}"
      loop: "{{ device_ipaddr.msg }}"
      loop_control:
        index_var: item1

##### Seventh task to Output Datas recovered for learning purpose into Nice YAML & JSON format
    - local_action:
        module: copy
        content: "{{ device_ifaces | to_nice_yaml }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/juniper/router/config_ctxt_ifaces/config_ctxt_ifaces_device_ifaces.yml

    - local_action:
        module: copy
        content: "{{ device_ipaddr | to_nice_yaml }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/juniper/router/config_ctxt_ifaces/config_ctxt_ifaces_device_ipaddr.yml

    - local_action:
        module: copy
        content: "{{ device_ifaces | to_nice_json }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/juniper/router/config_ctxt_ifaces/config_ctxt_ifaces_device_ifaces.json

    - local_action:
        module: copy
        content: "{{ device_ipaddr | to_nice_json }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/juniper/router/config_ctxt_ifaces/config_ctxt_ifaces_device_ipaddr.json

##### Generate Junos Config Directory
    - name: Generate Junos Config from Jinja2
      ansible.builtin.file:
        path: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config
        state: directory

##### Render Junos Config thanks to Jinja2 Template
    - name: Generate Junos Config from Jinja2 & Infrahub
      template:
        src: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/templates/juniper/router/v2/router_juniper_ctxt_ifaces_v2.j2"
        dest: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config/juniper/{{ device_ifaces.msg[item].device }}.cfg"
      loop: "{{ device_ifaces.msg }}"
      loop_control:
        index_var: item
      delegate_to: localhost
