---
- name: Create Report from netbox Data
  gather_facts: no
  hosts: all
  connection: local
  become: false
  vars:
    server: "https://192.168.0.251"
    endpoint: "/api/dcim/devices/"
    netbox_token: "{{ lookup('env','NETBOX_TOKEN') | default(netbox_api_tokens.api_token, true) }}"
  tasks:
    # Make a Netbox API call to retrieve devices'components
    - name: Get Device List from Netbox
      uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ netbox_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: netbox_datas
      run_once: yes

    - name: save the Json data to a Variable as a Fact
      set_fact:
        netbox_datas: "{{ netbox_datas.stdout | from_json }}"

    - name: setDeviceName
      set_fact:
        device_name: "{{ netbox_datas | json_query(jmesquery) }}"
      vars:
        jmesquery: 'device_name.name'

    - name: setDomainName
      set_fact:
        domain_name: "{{ jsondata | json_query(jmesquery) }}"
      vars:
        jmesquery: 'domain.name'

    - name: Generate Junos Config from Jinja2
      hosts: localhost
      gather_facts: no
      tasks:
        - name: Create Config Directory
          file: path=/Users/jeremierouzet/jeysible/config state=directory

    - name: Generate Junos Config from Jinja2 & Netbox
      hosts: jeyniper07
      gather_facts: no
      tasks:
        - name: Generate Juniper Full Config
          template:
            src: "/Users/jeremierouzet/jeysible/templates/router_juniper_full_cfg.j2"
            dest: "/Users/jeremierouzet/jeysible/config/{{inventory_hostname}}.cfg"
          delegate_to: localhost
