---
- name: Config Junos context SNMP
  gather_facts: no
  hosts: all
  connection: local
  become: false
  vars:
    server: "https://192.168.0.251"
    endpoint1: "/api/dcim/devices/?limit=1000"
    netbox_token: "{{ lookup('env','NETBOX_TOKEN') | default(netbox_api_tokens.api_token, true) }}"
  tasks:
    # Make a Netbox API call to retrieve devices'components
    - name: Get Device List from Netbox
      uri:
        url: "{{ server }}{{ endpoint1 }}"
        headers:
          Authorization: "Token {{ netbox_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: netbox_devices
      run_once: yes

    - name: QueryDeviceName
      ansible.builtin.debug:
        msg: "{{ netbox_devices.json.results | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
         - jmesquery: "[*].{Name: name, snmp_loc: custom_fields.snmp_location, IP: primary_ip.address, snmp_com: custom_fields.snmp_community, snmp_srv: custom_fields.snmp_server}"
      register: device_name

    - name: Prompt for the device to configure
      pause:
        prompt: "Enter Device Name"
        echo: yes
      register: input_dev

    - set_fact:
        dev: "{{ input_dev.user_input | to_nice_json }}"

    - name: QueryDeviceName
      ansible.builtin.debug:
        msg: "{{ device_name.msg | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
         - jmesquery: "item[].{Name: name, snmp_loc: custom_fields.snmp_location, IP: primary_ip.address, snmp_com: custom_fields.snmp_community, snmp_srv: custom_fields.snmp_server}"
      register: device_name
      with_items:
        - "{{ dev }}"
