---
- name: Create Report from infrahub Data
  gather_facts: no
  hosts: localhost
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub (GraphQL)
      uri:
        url: "{{ server }}/graphql"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Content-Type: "application/json"
        body: |
          {"query":"{ JeylanDevice(limit:1000, offset:0){ edges { node { id name { value } mgmt_ip { value } model { node { name { value } } } } } } }"}
        body_format: json
        method: POST
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: yes
        use_proxy: false
      register: infrahub_datas
      run_once: yes

    # Allow to Generate a Report thanks to the informations registered previously with For loop to iterate through multiples devices
    - name: Generate Report
      ansible.builtin.blockinfile:
        block:  |
            infrahub_datas.json:
            {% for device in infrahub_datas.json.data.JeylanDevice.edges %}
              - { node: {{ device.node.name.value }}, Model: {{ device.node.model.node.name.value }}, and has Ipv4: {{ device.node.mgmt_ip.value }}}
            {% endfor %}
        path: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_report/infrahub_report_v1.yaml
        create: yes
