---
- name: Create Report from infrahub Data
  gather_facts: no
  hosts: infrahub
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint: "/api/dcim/devices/"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_datas
      run_once: yes

    # Allow to Generate a Report thanks to the informations registered previously with For loop to iterate through multiples devices
    - name: Generate Report
      ansible.builtin.blockinfile:
        block:  |
            infrahub_datas.json:
            {% for device_name in infrahub_datas.json.results %}
              - { node: {{ device_name.name }}, runs Network OS: {{ device_name.platform.name }}, and has Ipv4: {{ device_name.primary_ip.address }}}
            {% endfor %}
        path: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_report/infrahub_report_v1.yaml
        create: yes
