---
- name: uri module demo
  hosts: infrahub
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint: "/api/dcim/devices/?brief=1"
  tasks:
    - name: list devices
      ansible.builtin.uri:
        url: "{{ server }}{{ endpoint }}"
        headers:
          Authorization: "Token {{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: no
        return_content: yes
      register: result

    - name: debug
      ansible.builtin.debug:
        var: result
