---
- name: Config Cisco context SNMP
  gather_facts: no
  hosts: infrahub
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint1: "/api/dcim/devices/?limit=1000"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
    - name: Get Device List from Infrahub (GraphQL)
      uri:
        url: "{{ server }}/graphql"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Content-Type: "application/json"
        body: |
          {"query":"{ DcimDevice(limit:1000, offset:0){ edges { node { id display_label name { value } primary_address { address { value } } device_type { node { name { value } manufacturer { node { display } } } } role { label display } status { value } } } } }"}
        body_format: json
        method: POST
        status_code: [200, 201]
        timeout: 60
        validate_certs: false
        return_content: yes
      register: infrahub_devices
      run_once: yes

    - name: Extract nodes from GraphQL response
      set_fact:
        devices_raw: "{{ infrahub_devices.json.data.DcimDevice.edges | map(attribute='node') | list }}"

    - name: Build filtered device list for SNMP (Cisco manufacturer, exclude IP hostnames)
      vars:
        ip_regex: '^\\d{1,3}(?:\\.\\d{1,3}){3}$'
      set_fact:
        device_name_list: "{{ device_name_list | default([]) + [ { 'Name': item.name.value|default(''), 'snmp_loc': (item.custom_fields.snmp_location.value|default('') if item.custom_fields is defined else ''), 'IP': (item.primary_address.address.value|default('')) , 'snmp_com': (item.custom_fields.snmp_community.value|default('') if item.custom_fields is defined else ''), 'snmp_srv1': (item.custom_fields.snmp_server1.value|default('') if item.custom_fields is defined else ''), 'snmp_srv2': (item.custom_fields.snmp_server2.value|default('') if item.custom_fields is defined else ''), 'snmp_srv3': (item.custom_fields.snmp_server3.value|default('') if item.custom_fields is defined else '') } ] }}"
      loop: "{{ devices_raw }}"
      when: "(item.device_type is defined and (item.device_type.node.manufacturer.node.display|default('') == 'Cisco Systems')) and (item.name is defined and item.name.value is defined) and (item.name.value is not match(ip_regex))"

    - name: Expose device list for downstream tasks (device_name.msg)
      set_fact:
        device_name: "{{ {'msg': device_name_list | default([])} }}"

    - name: Debug for learning purpose
      debug:
        msg: "Device's name is {{ device_name.msg[item].Name }}, snmp location is {{ device_name.msg[item].snmp_loc }}, snmp server 1 is {{ device_name.msg[item].snmp_srv1 }}, snmp server 2 is {{ device_name.msg[item].snmp_srv2 }}, snmp server 3 is {{ device_name.msg[item].snmp_srv3 }}, snmp community is {{ device_name.msg[item].snmp_com }}, snmp agent answers with source ip {{ device_name.msg[item].IP }}"
      loop: "{{ device_name.msg }}"
      loop_control:
        index_var: item

    - name: Generate Cisco Config Directory
      ansible.builtin.file:
        path: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config
        state: directory

    - name: Generate Cisco Config from Jinja2 & Infrahub
      template:
        src: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/templates/cisco/common/v2/common_cisco_ctxt_snmp_v2.j2"
        dest: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config/cisco/{{ device_name.msg[item].Name }}.cfg"
      loop: "{{ device_name.msg }}"
      loop_control:
        index_var: item
      delegate_to: localhost

    - name: Generate Facts from previous generated config file
      set_fact:
        command_to_push: "{{ lookup('file', '/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config/cisco/{{ device_name.msg[item].Name }}.cfg') }}"
      with_items:
        - "{{ device_name.msg }}"
      loop: "{{ device_name.msg }}"
      loop_control:
        index_var: item

    - name: debug
      ansible.builtin.debug:
        var: command_to_push

    - name: Push command to devices
      cisco.ios.ios_config:
        src: "/Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/templates/cisco/common/v2/common_cisco_ctxt_snmp_v2.j2"
        backup: true
        backup_options:
          filename: "{{ device_name.msg[item].Name }}.cfg"
          dir_path: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/config/cisco/backup
        save_when: "modified"
      with_items:
        - "{{ device_name.msg }}"
      loop_control:
        index_var: item
      vars:
        ansible_connection: network_cli
        ansible_network_os: ios
          ansible_user: "{{ device_username }}"
          ansible_password: "{{ device_password }}"
        ansible_host: "{{ device_name.msg[item].Name }}"

    - local_action:
        module: copy
        content: "{{ device_name | to_nice_yaml }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/cisco/common/config_ctxt_snmp/config_ctxt_snmp_device_name.yml

    - local_action:
        module: copy
        content: "{{ device_name | to_nice_json }}"
        dest: /Users/jeremierouzet/Documents/Dev/ansible/jeysible_jeymacsrv01/infrahub_dynamic_inventory/inventory_output/cisco/common/config_ctxt_snmp/config_ctxt_snmp_device_name.json
