---
- name: Report IOS version to infrahub
  gather_facts: no
  hosts: all
  connection: local
  become: false
  roles:
    - ansible-pyats
  vars:
    server: "http://192.168.0.237:8000"
    endpoint1: "/api/dcim/devices/?limit=1000"
    infrahub_token: "7435d9eb9841dc8a941417a0993fc531c3dc35ca"
    ansible_connection: network_cli
    ansible_network_os: ios
    ansible_user: root
    ansible_password: Celjer.05n
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint1 }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_devices
      run_once: yes

    # Define specific filters to only keep particular device Role
    - name: QueryDeviceName
      ansible.builtin.debug:
        msg: "{{ infrahub_devices.json.results | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
        jmesquery: "[?role.display=='Router_CE_Cisco' && status.value=='active'].{Name: name, IP: custom_fields.dev_lpbk }"
      register: device_name

    # Display debug outputs for learning purpose
    - name: Debug for learning purpose
      debug:
        msg: "Device's name is {{ device_name.msg[item].Name }}, and IP is {{ device_name.msg[item].IP }}"
      loop: "{{ device_name.msg }}"
      loop_control:
        index_var: item

    # Retrieve device facts
    - name: Retrieve device facts
      ios_facts:
      with_items:
        - "{{ device_name.msg }}"
      loop_control:
        index_var: item
      vars:
        ansible_host: "{{ device_name.msg[item].Name }}"

    # Display debug output thanks to embedded Ansible variables
    - debug:
        msg:
          - "Device's name is {{ device_name.msg[item].Name }}"
      with_items:
        - "{{ device_name.msg }}"
      loop_control:
        index_var: item

    # Copy
    - local_action:
        module: copy
        content: "{{ device_name | to_nice_yaml }}"
        dest: /Users/jeremierouzet/jeysible/infrahub_dynamic_inventory/inventory_output/cisco/common/report_device_name/report_device_name.yml

    - local_action:
        module: copy
        content: "{{ device_name | to_nice_json }}"
        dest: /Users/jeremierouzet/jeysible/infrahub_dynamic_inventory/inventory_output/cisco/common/report_device_name/report_device_name.json
