---
  gather_facts: no
  hosts: infrahub
  vars_prompt:
    - name: infrahub_role
      prompt: What is the Infrahub role planned for the device(s) ?
      private: false
  connection: local
  become: false
  vars:
    server: "http://192.168.0.237:8000"
    endpoint1: "/api/dcim/devices/?limit=1000"
    infrahub_token: "{{ lookup('env','INFRAHUB_TOKEN') | default(infrahub_api_tokens.api_token, true) }}"
  tasks:
    # Query Infrahub via GraphQL and build a filtered devices list (omit hosts whose name is an IPv4)
    - name: Get Device List from Infrahub (GraphQL)
      uri:
        url: "{{ server }}/graphql"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Content-Type: "application/json"
        body: |
          {"query":"{ DcimDevice(limit:1000, offset:0){ edges { node { id display_label name { value } primary_address { address { value } } platform { name { value } } device_type { name { value } } } } } }"}
        body_format: json
        method: POST
        status_code: [200, 201]
        timeout: 60
        validate_certs: false
        return_content: yes
      register: infrahub_devices
      run_once: yes

    - name: Extract nodes from GraphQL response
      set_fact:
        devices_raw: "{{ infrahub_devices.json.data.DcimDevice.edges | map(attribute='node') | list }}"

    - name: Build filtered device list (exclude IP hostnames)
      vars:
        ip_regex: '^\\d{1,3}(?:\\.\\d{1,3}){3}$'
      set_fact:
        device_name_list: "{{ device_name_list | default([]) + [ { 'Name': item.name.value|default(''), 'IP': (item.primary_address.address.value|default('')) , 'id': item.id, 'display_label': item.display_label|default('') } ] }}"
      loop: "{{ devices_raw }}"
      when: "(item.name is defined and item.name.value is defined) and (item.name.value is not match(ip_regex))"

    - name: Expose device list for downstream tasks (device_name.msg)
      set_fact:
        device_name: "{{ {'msg': device_name_list | default([])} }}"

    - name: Print device role planned for the devices
      ansible.builtin.debug:
        msg: The Nebox role for that device is {{ infrahub_role }}

    - name: NetBox API connection check
      ansible.builtin.uri:
        url: "{{ server }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
      register: infrahub_api_check

    - name: Show result NetBox API check
      debug:
        var: infrahub_api_check

    - name: Upload Data to INFRAHUB
      infrahub.infrahub.infrahub_device:
        infrahub_url: "{{ server }}"
        infrahub_token: "{{ infrahub_token }}"
        data:
          name: "{{ device_name.msg[item].Name }}"
          device_role: "{{ infrahub_role }}"
        state: present
        validate_certs: false
      loop: "{{ device_name.msg }}"
      loop_control:
        index_var: item
      when: infrahub_api_check.status == 200
