---
- name: Report IOS version to infrahub
  gather_facts: no
  hosts: all
  connection: local
  become: false
  roles:
    - ansible-pyats
  vars:
    server: "http://192.168.0.237:8000"
    endpoint1: "/api/dcim/devices/?limit=1000"
    infrahub_token: "7435d9eb9841dc8a941417a0993fc531c3dc35ca"
    upgrade_ios_version: "17.10.01a"
    ansible_connection: network_cli
    ansible_network_os: ios
    ansible_user: root
    ansible_password: Celjer.05n
    new_ios_bin: "c1100-universalk9.17.10.01a.SPA.bin"
  tasks:
    - name: Get Device List from Infrahub (GraphQL)
      uri:
        url: "{{ server }}/graphql"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Content-Type: "application/json"
        body: |
          {"query":"{ DcimDevice(limit:1000, offset:0){ edges { node { id display_label name { value } role { label display } status { value } primary_address { address { value } } } } } }"}
        body_format: json
        method: POST
        status_code: [200, 201]
        timeout: 60
        validate_certs: false
        return_content: yes
      register: infrahub_devices
      run_once: yes

    - name: Extract nodes from GraphQL response
      set_fact:
        devices_raw: "{{ infrahub_devices.json.data.DcimDevice.edges | map(attribute='node') | list }}"

    - name: Build filtered device list (role Router_CE_Cisco, status active, exclude IP hostnames)
      vars:
        ip_regex: '^\\d{1,3}(?:\\.\\d{1,3}){3}$'
      set_fact:
        device_name_list: "{{ device_name_list | default([]) + [ { 'Name': item.name.value|default(''), 'IP': (item.primary_address.address.value|default('')) , 'id': item.id, 'role_label': item.role.label|default(''), 'status': item.status.value|default('') } ] }}"
      loop: "{{ devices_raw }}"
      when: "(item.role is defined and item.role.label == 'Router_CE_Cisco') and (item.status is defined and item.status.value == 'active') and (item.name is defined and item.name.value is defined) and (item.name.value is not match(ip_regex))"

    - name: Expose device list for downstream tasks (device_name.msg)
      set_fact:
        device_name: "{{ {'msg': device_name_list | default([])} }}"

    # Retrieve device facts
    - name: Retrieve device facts
      ios_facts:
      with_items:
         - "{{ device_name.msg }}"
      loop_control:
        index_var: item
      vars:
        ansible_host: "{{ device_name.msg[item].Name }}"

    # Display debug output thanks to embedded Ansible variables
    - debug:
        msg:
          - "Device's name is {{ device_name.msg[item].Name }}"
          - "Current version is {{ ansible_net_version }}"
          - "Current Cisco binary file is {{ ansible_net_image }}"
          - "Upgrade image is {{ upgrade_ios_version }}"
      with_items:
        - "{{ device_name.msg }}"
      loop_control:
        index_var: item

    # Get IOSXE version with PyATS and compare it with the target version
    - name: Get current IOSXE version
      tags: pre-check, check-version, post-check, install
      ios_command:
        commands:
          - show version
      register: show_version
      with_items:
        - "{{ device_name.msg }}"
      loop_control:
        index_var: item
      vars:
        ansible_host: "{{ device_name.msg[item].Name }}"

    # Debug previous command registered values
    - name: Debug previous command registered values
      ansible.builtin.debug:
        var: show_version

    # Get fact for the current IOSXE version with PyATS
    - name: Get fact for the current IOSXE version with PyATS
      tags: pre-check, check-version, post-check, install
      set_fact:
        current_xe_ver: "{{ show_version.results[item]['stdout'][0] | pyats_parser('show version', 'iosxe') }}"
      with_items:
        - "{{ show_version.results }}"
      loop_control:
        index_var: item
      register: device_iosxe_version

    # Debug previous command registered values
    - name: Debug previous command registered values
      ansible.builtin.debug:
        var: device_iosxe_version

    # Debug message for learning purpose based on facts parsed with PyATS
    - name: Debug parsed output for the current IOSXE version
      debug:
        msg: "{{ device_name.msg[item].Name }} is currently running with {{ device_iosxe_version.results[item].ansible_facts.current_xe_ver.version.xe_version }}"
      with_together:
        - "{{ device_name.msg }}"
        - "{{ device_iosxe_version.results }}"
      loop_control:
        index_var: item
      vars:
        ansible_host: "{{ device_name.msg[item].Name }}"
      register: filtered_info_iosxe_version

    # Display debug output telling that software needs to be upgraded
    - debug:
        msg:
        - "IOS Software on {{ device_name.msg[item].Name }} is not compliant and will be upgraded"
      when: ansible_net_version != upgrade_ios_version
      with_items:
          - "{{ device_name.msg }}"
      loop_control:
        index_var: item
      vars:
        ansible_host: "{{ device_name.msg[item].Name }}"

    # Copy
    - local_action:
        module: copy
        content: "{{ filtered_info_iosxe_version | to_nice_yaml }}"
        dest: /Users/jeremierouzet/jeysible/infrahub_dynamic_inventory/inventory_output/cisco/common/report_ios_version/report_ios_version_device_name.yml

    - local_action:
        module: copy
        content: "{{ filtered_info_iosxe_version | to_nice_json }}"
        dest: /Users/jeremierouzet/jeysible/infrahub_dynamic_inventory/inventory_output/cisco/common/report_ios_version/report_ios_version_device_name.json
