---
- name: Retrieve specific Device Role
  gather_facts: no
  hosts: all
  connection: local
  become: false
  vars:
    server: "https://192.168.0.251"
    endpoint1: "/api/dcim/devices/?limit=1000"
    infrahub_token: "7435d9eb9841dc8a941417a0993fc531c3dc35ca"
  tasks:
    # Make a Infrahub API call to retrieve devices'components
    - name: Get Device List from Infrahub
      uri:
        url: "{{ server }}{{ endpoint1 }}"
        headers:
          Authorization: "Token {{ infrahub_token }}"
          Accept: 'application/json'
        body_format: json
        method: GET
        status_code: [200, 201]
        timeout: 30
        validate_certs: false
        return_content: no
      register: infrahub_devices
      run_once: yes

    - name: QueryDeviceRetrieveSpecificDeviceRole
      ansible.builtin.debug:
        msg: "{{ infrahub_devices.json.results | to_json | from_json | community.general.json_query(jmesquery) }}"
      vars:
        jmesquery: "[?role.name=='ToBeDefined'].{Name: name, Role: role}"
      register: devicerole

    - name: Debug for learning purpose
      debug:
        msg: "Device's name is {{ devicerole.msg[item].Name }}, Device Role is {{ devicerole.msg[item].Role.name}}"
      loop: "{{ devicerole.msg }}"
      loop_control:
        index_var: item
