{% for device_name in netbox_devices.json.results if device_name.name == 'jeyniper01' -%}
set protocols bgp group route-reflector type internal
set protocols bgp group route-reflector local-address {{ device_name.custom_fields.dev_lpbk }}
set protocols bgp group route-reflector family inet unicast add-path receive
set protocols bgp group route-reflector family inet unicast add-path send path-count 6
set protocols bgp group route-reflector family inet-vpn unicast
set protocols bgp group route-reflector family route-target
{% endfor %}
{% for device_name in netbox_devices.json.results if device_name.name == 'jeyniper01' -%}
set protocols bgp group route-reflector neighbor {{ device_name.custom_fields.rr1 }}
set protocols bgp group route-reflector neighbor {{ device_name.custom_fields.rr2 }}
{% endfor %}
set protocols bgp traceoptions file bgp-log
set protocols bgp traceoptions file size 100k
set protocols bgp traceoptions file files 5
set protocols bgp traceoptions file world-readable
set protocols bgp traceoptions flag all send
set protocols bgp traceoptions flag all receive
set protocols bgp traceoptions flag all detail
deactivate protocols bgp traceoptions
